<!doctype html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="ui-grid/ui-grid-unstable.min.css" />
  </head>
  <body>
    <div ng-controller="endereco">
    
    	<button ng-click="remover()">Remover</button>
    	<button ng-click="editar()">Editar</button>
    	<button ng-click="novo()">Novo</button>
    
        <div id="grid1" ui-grid="gridOptions" ui-grid-selection class="grid"></div>
	
		<p>
			<span>{{mensagem}}</span>	
		</p>		
		<p>
			<label>Cep (*):</label>
			<input type="text" ng-model="endereco.cep" />
			<button ng-click="consultarEndereco()">Consultar CEP</button>       
		</p>
		<p>
			<label>Rua (*):</label>
			<input type="text" ng-model="endereco.rua"/>
		</p>
		<p>
			<label>Bairro:</label>
			<input type="text" ng-model="endereco.bairro"/>
		</p>
		<p>
			<label>Cidade (*):</label>
			<input type="text" ng-model="endereco.cidade"/>
		</p>
		<p>
			<label>Estado (*):</label>
			<input type="text" ng-model="endereco.estado"/>
		</p>
		<p>
			<label>Número (*):</label>
			<input type="text" ng-model="endereco.numero"/>
		</p>
		<p>
			<label>Complemento:</label>
			<input type="text" ng-model="endereco.complemento"/>
		</p>
		<p>
		    (*) Campos obrigatórios
		</p>				
		<p>
			<button ng-click="enviar()">Enviar</button>
		</p>
	</div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="ui-grid/ui-grid-unstable.min.js"></script>
    <script src="endereco.js"></script>
  </body>
</html>